aiohttp                  
aiosignal                
argon2-cffi              
argon2-cffi-bindings     
async-timeout            
attrs                    
babel                    
cachecontrol             
cachy                    
certifi                  
cffi                     
charset-normalizer       
cleo                     
click                    
clikit                   
crashtest                
cryptography             
debugpy                  
distlib                  
docx                     
docx-mailmerge           
docxcompose              
docxtpl                  
filelock                 
flask                    
frozenlist               
html5lib                 
idna                     
iso8601                  
itsdangerous             
jedi                     
jeepney                  
jinja2                   
keyring                  
lockfile                 
lxml                     
mailmerge                
markdown                 
markupsafe               
msgpack                  
multidict                
numpy                    
packaging                
parso                    
passlib                  
pastel                   
pexpect                  
pillow                   
pip                      
pkginfo                  
platformdirs             
pluggy                   
poetry                   
poetry-core              
protobuf                 
ptyprocess               
pycparser                
pycryptodomex            
pyflakes                 
pylev                    
pyparsing                
pyseto                   
python-docx              
python-lsp-jsonrpc       
pytoolconfig             
replit                   
replit-python-lsp-server 
requests                 
requests-toolbelt        
rope                     
secretstorage            
setuptools               
shellingham              
six                      
toml                     
tomli                    
tomlkit                  
typing-extensions        
ujson       
urllib3     
virtualenv  
webencodings
werkzeug    
whatthepatch
yapf       
yarl       